<!DOCTYPE html>
<head>
    <title>Spring Boot file upload example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/plugins/piexif.js"></script>
    <script type="text/javascript" src="/js/plugins/sortable.js"></script>
    <script type="text/javascript" src="/js/fileinput.js"></script>
    <script type="text/javascript" src="/js/themes/fa/theme.js"></script>
    <script type="text/javascript" src="/js/locales/zh.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/fileinput.min.css" />
</head>
<body>
<h1>Spring Boot file upload example</h1>
<form id="form1" method="POST" action="/upload/doUploadAndStore" enctype="multipart/form-data">
    <input type="file" name="file" /><br/><br/>
    <input type="submit" value="上传" />
</form>
<div>
    <input id="input-id" type="file" class="file" data-preview-file-type="text" >
</div>
<script type="text/javascript">
    // initialize with defaults
    let inputId = $("#input-id");
    inputId.fileinput();

    // with plugin options
    inputId.fileinput({'showUpload':false, 'previewFileType':'any'});
</script>
<br>
<br>
<form id="form2" method="POST" action="/upload/doUploadAndTransfer" enctype="multipart/form-data">
    <input type="file" name="file" /><br/><br/>
    <input type="submit" value="转换" />
</form>
</body>
